.post-entry {
    background: unset;
    border-radius: unset;
    border: unset;
    border-bottom: 2px solid var(--border);
    padding: unset;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.entry-header h2 {
    font-size: 32px;
}

.entry-content {
    font-size: 16px;
}

.entry-footer {
    font-size: 14px;
}
