.post-entry {
    background: unset;
    border-radius: unset;
    border: unset;
    border-bottom: 2px solid var(--border);
    padding: unset;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.entry-header h2 {
    font-size: 32px;
}

.entry-content {
    font-size: 16px;
}

.entry-footer {
    font-size: 14px;
}

.home-info p {
    -webkit-line-clamp: unset;
    margin-bottom: unset;
}

.home-info h1 {
    margin-top: 32px;
    margin-bottom: unset;
}

.home-info .entry-content {
    margin: 4px 0;
}

.home-info .social-icons {
    padding: unset;
    padding-top: 8px;
    padding-bottom: 32px;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}
