@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:300;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:400;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:600;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

html {
  font-family:-apple-system,BlinkMacSystemFont,YakuHanJP,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  line-height:1.57;
}

.navbar {
  font-size: 1.15em;
  .header-logo {
    font-size: 1.25em;
  }
}

.navbar .menu .active{
  font-weight: 100;
  color: $light-font-color;

  .dark-theme &{
    color: $dark-font-color;
  }
}

.navbar-header a:hover, .navbar .menu a:hover {
  background-color: transparent;
  color: $light-global-link-hover-color;

  .dark-theme &{
    color: $dark-font-secondary-color;
  }
}

div.author {
  font-size: 2.0em;
  font-weight: normal;
}
  
div.description {
  font-size: 1.4em;
  font-weight: normal;
}

body {
  font-size:1em;
  font-family:-apple-system,BlinkMacSystemFont,YakuHanJP,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  line-height:1.57
}

h1, h2, h3, h4, h5, h6 {
  font-weight:300;
  font-family:"Open Sans",sans-serif;
}

#dynamic-to-top {
  font-family: "Open Sans",sans-serif;
}

.post-warp {
  .intro {
    transform: translateY(0);
    .avatar {
      img {
        width: 512px;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 0%;
        border-radius: 0%;
        -webkit-box-shadow: 0 0 0 0m rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0s;
        -moz-transition: all ease 0s;
        -o-transition: all ease 0s;
        transition: all ease 0s;
        cursor: pointer;
        &:hover {
          position: relative;
          -webkit-transform: translateY(0em);
          -moz-transform: translateY(0em);
          -ms-transform: translateY(0em);
          -o-transform: translateY(0em);
          transform: translateY(0em);
          cursor: auto;
        }
      }
    }
  }
}

.post-warp {
  text-align: left;
}

.post-warp {
  .post-content {
    a:hover {
      color: $light-post-link-hover-color;
      .dark-theme &:hover {
        color: $dark-post-link-hover-color;
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  .iconfont {
    position: relative;
    top: 0.15em;
    font-size: 1.25em;
  }
}

.social-links {
  padding-top: 0.5em;
  .iconfont {
    font-size: 1.8em;
  }
}

.footer {
  .iconfont {
    position: relative;
    top: 0.2em;
  }
}
