@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:300;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:400;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

@font-face{
  font-family:'OpenSans';
  font-style:normal;
  font-weight:600;
  src:local("OpenSans"),url("/static/fonts/OpenSans-Regular.ttf") format("truetype")
}

html {
  font-family:-apple-system,BlinkMacSystemFont,YakuHanJP,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  line-height:1.57;
}

.navbar {
  font-size: 1.15em;
  .header-logo {
    font-size: 1.25em;
  }
}

div.author {
  font-size: 2.0em;
  font-weight: normal;
}
  
div.description {
  font-size: 1.4em;
  font-weight: normal;
}

body {
  font-size:1em;
  font-family:-apple-system,BlinkMacSystemFont,YakuHanJP,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  line-height:1.57
}

h1, h2, h3, h4, h5, h6 {
  font-weight:300;
  font-family:"Open Sans",sans-serif;
}

#dynamic-to-top {
  font-family: "Open Sans",sans-serif;
}

.intro {
  transform: translateY(20vh);
  .avatar {
    img {
      width: 128px;
      -webkit-transition: all ease 0.0s;
      -moz-transition: all ease 0.0s;
      -o-transition: all ease 0.0s;
      transition: all ease 0.0s;
      cursor: auto;
      &:hover {
        position: relative;
        -webkit-transform: translateY(0.0em);
        -moz-transform: translateY(0.0em);
        -ms-transform: translateY(0.0em);
        -o-transform: translateY(0.0em);
        transform: translateY(0.0em);
        cursor: auto;
      }
    }
  }
}

.post-warp {
  text-align: left;
}
